.contianer-middle {
  #submit {
    .atm-double {
      margin-top: 0.5em;
      display: grid;
      grid-template-columns: 28% 28% 41%;
      column-gap: 1.5%;
    }
  }

  .card-no {
    position: relative;
    input {
      padding-right: 4em;
    }
    .input {
      .wrap-img {
        position: absolute;
        z-index: 20;
        right: 0.5em;
        top: 50%;
        transform: translateY(-50%);
        img {
          object-fit: contain;
          height: 1.5em;
          margin: 0 0.1em;
        }
      }
    }
  }
}
