.modified{
    // height: 430px;
    position: relative;
    background-color:  #e7eff0;
    width: 380px;
    height: 300px;
    margin: auto;
    margin-top: 5px;
    padding: 15px;
    border-radius: 7px;

}